*{
    margin: 0px;
    padding: 0px;
    
}
/* navbar */
#navbar{
    background-color: rgb(255, 255, 255);
    display: flex;
    box-shadow: 0px 0px 27.5px -13px;
}
#navbar img{
    width: 257px;
    height: 82px;
    margin-left: 86px;
}
.navbar-types{
    display: flex;
    gap: 3rem;
    padding: 20px;
    margin-left: 190px;
    margin-top: auto;
}
.navbar-types li{
    list-style-type: none;
}
.navbar-types li:hover{
    color:#6f42c1;;
    cursor: pointer;
}
.dropdown :hover{
    color:#6f42c1;
}
.navbar-types button{
    background: linear-gradient(90deg, #4e3bbf, #a928d8);
    border: none;
    color: white;
    padding: 10px 29px;
    border-radius: 10px;
}
/* background images for meetus section */
.bg1{
    background-color: #FCFCFC;
    padding: 110px;
}
.bg-img{
    background-image: url("https://kona-digital.com/images/herobg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100rem 27rem;
    padding: 400px 0px;  
    position:relative;   
}
/* content for meetus section */
.meetus{
    text-align: center;
    color: #000C60;
    position: absolute;
    top: 230px;
    left: 188px;
    font-weight: 700;
}
.meetus button{
    margin-top: 32px;
    padding: 10px 35px;
    margin-right: 35px;
    border-radius: 10px;
}
.Askfordemo-btn{
    background:linear-gradient(90deg, #4e3bbf, #a928d8);
    border:none;
    color: white;
}
.meetus h1{
    font-size: 79px;
}
.meetus p{
    font-weight: lighter;
    font-size: 24px;
}
/* animation images for meetus section */
.image1{
        position: absolute;
        left: 6%;
        top: 72%;
        animation: zoom-in-zoom-out 10s ease infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(0);
    }
  }
.image2{
    position: absolute;
    right: 65%;
    top: 40%;
    animation: zoom-in-zoom-out 10s ease infinite;
}
.image3{
    position: absolute;
    left: 82%;
    top:100%;
    animation: zoom-in-zoom-out 5s ease infinite;
}
.image4{
    position: absolute;
    left: 61%;
    top: 122%;
    animation: zoom-in-zoom-out 10s ease infinite;
}
/* management system flex section */
.flex-management-system{
    display: flex;
     width:89%;
    justify-items: center;
    position:absolute;
    margin-left: 64px; 
    column-gap: 50px;
    top: 859px;
} 
.management-system{
    background-color: white;
    box-shadow: 0 0 20px #dddddd73;
    padding: 15px;
    border-radius: 10px;
    text-size-adjust: 10px;
    height: 30rem;
}
.management-system h2{
    font-size: 28px;
    margin-top: 16px;
}

.trusted {
    font-size: 46px;
    margin-top: 156px;
}
#manage{
    margin-top: -70px;
}
.knowmore{
    color: rgb(96, 32, 225);
    margin-left: 176px;
}
.arrow-img{
    margin-left: 263px;
    margin-top: -25px;
}

#arrow-img{
    margin-left: 263px;
    margin-top: -51px;
}
.trusted h1{
    margin-left: 504px;
    color: #000c60;
}
/* INDUSTRY SOLUTIONS heading content */
.industry-solution{
    text-align: center;
    top:98rem;
    margin-left:4px;
    margin-top:32rem;
    font-size:30px;
}
.industry-solution h4{
    display: inline-block;
    background: #ffebeb;
    padding: 10px 30px;
    border-radius: 30px;
    color: #000c60;
    text-align: center;
}
/* Education,Industries,Real Estate,IT diffrent sector section using grid */
.grid-container {
    position: absolute;
    top: 110rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1px;
    row-gap: 1px;
    padding: 10px;
    height: 41rem;
    width: 57rem;
    margin-top: 82px;
    margin-left: 194px
  }
  .grid-item {
    border:1px solid white;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px #eed9d973;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item p{
    font-size: 14px;
    width:362px;
  }
  .grid-item h3{
    text-align: center;
    color: #000c60;
  }
  .grid-item img{
    margin-left: 125px;
  }
   /* Education,Industries,Real Estate,IT diffrent background images animation using grid  */
  .ropeline{
    animation: zoom-in-zoom-out1 5s ease infinite;
  }
  @keyframes zoom-in-zoom-out1 {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px); /* Adjust this value to control how high the element moves */
      }
      100% {
        transform: translateY(0);
      }
    }
      /* carousel */
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #000C60;
    
}
.carousel-indicators .active {
    background-image:url("https://kona-digital.com/images/mapimg.png");
}
 
  .trusted{
    top:165rem;
  }
  /* bangaloor,hyderbad address images section in grid  */
.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    height: 41rem;
    width: 57rem;
    margin-top: 179px;
    margin-left: 179px;
   
  }
  .grid-item2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
  } 
  .grid-item2 h3{
    color: #000c60;
    font-weight: bolder;
    font-size: 29px;
  }


.QA{
    margin-left:38rem;
    color: #000c60;
} 
.footer{
    display: flex;
    top:300rem;
    width:100%;
    column-gap: 79px;
    margin-left: 60px;
    background-color: white;
    margin-top: 10px;

}
.footer .d-flex{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
.QA{
    margin-left: 36rem;
    margin-top:45rem;
    font-weight: 700;
}
#accordionPanelsStayOpenExample{
    display: block;
    width: 100%;
    padding-left: 17rem;
    padding-right: 17rem;
}
#accordian-btn :hover{
   color: #000C60;
}
#connect{
    margin-top: 50px;
}
#lets-connect-container {
   display: flex;
   margin-left: 30px;
   gap: 1rem;
}
.accordion-item{
    background-color: none;
}
.letsconnect {
    display: flex;
    justify-content: center;
    margin-left: 2px;
    margin-top: 30px;
    background-image: linear-gradient(239deg, #EDF3F8, #FEFEFF);
}
.content{
        text-align: center;
        margin: auto;
}
.image img{
    top: 265rem;
    left: 606px;  
}
.letsconnect button{
    background:linear-gradient(90deg, #4e3bbf, #a928d8);
    border:none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.container1{
    margin-top: 105px;
}

.bg {
    background-color: #FCFCFC;
    padding: 0px;
}